<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-dynamic-title">Are you Sure?</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnNoModal" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" id="btnYesModal" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>