<!-- Client Exists Modal -->
<div class="modal fade" id="clientExistsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Client Already Exists-</h5> <a href="" id="clientCode"></a>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <p id="clientExistsMessage"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnNo">No</button>
                <button type="button" class="btn btn-primary" id="btnYes">Yes</button>
            </div>

        </div>
    </div>
</div>