{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'master/client_master/client_master.html' %}
{% endblock %}


{% block javascript %}
<script src="{% static 'master/js/client_master.js' %}"></script>
<script>
    $(document).ready(function () {

        // Initialize ClientMaster for Update
        ClientMaster.init({
            submissionUrl: '/master/clientMaster/{{clientId}}/edit',
            successRedirectUrl: '/master/clientMaster/list',
            isUpdate: true,
            method: 'POST'
        });

        // Load Dropdowns and then Data
        $.when(
            loadSelectElementData("clientMasterPermanentMunicipality", "{% url 'general-settings-lists' %}", "setupType", "vdcMunicipality"),
            loadSelectElementData("clientMasterTemporaryMunicipality", "{% url 'general-settings-lists' %}", "setupType", "vdcMunicipality"),

            loadSelectElementData("clientMasterPermanentDistrict", "{% url 'general-settings-lists' %}", "setupType", "district"),
            loadSelectElementData("clientMasterTemporaryDistrict", "{% url 'general-settings-lists' %}", "setupType", "district"),
            loadSelectElementData("clientMasterCitizenshipIssuedDistrict", "{% url 'general-settings-lists' %}", "setupType", "district"),
            loadSelectElementData("clientMasterIdentityIssuedDistrict", "{% url 'general-settings-lists' %}", "setupType", "district"),

            loadSelectElementData("clientMasterPermanentProvince", "{% url 'general-settings-lists' %}", "setupType", "province"),
            loadSelectElementData("clientMasterTemporaryProvince", "{% url 'general-settings-lists' %}", "setupType", "province"),

            loadSelectElementData("clientMasterGender", "{% url 'client-type-lists' %}", "setupType", "gender"),
            loadSelectElementData("clientMasterSalutation", "{% url 'client-type-lists' %}", "setupType", "salutation"),
            loadSelectElementData("clientMasterNationality", "{% url 'client-type-lists' %}", "setupType", "nationality"),
            loadSelectElementData("clientMasterCompanyRegistrationAuthority", "{% url 'client-type-lists' %}", "setupType", "registrationAuthority")

        ).done(function () {
            clientMasterDataById("{{clientId}}");
        });

    });

    // Municipality Change Listeners
    $('#clientMasterPermanentMunicipality').on("change", function () {
        var municipalityId = $(this).val();
        loadDistrictAndProvinceByMunicipality(municipalityId, 'clientMasterPermanentDistrict', 'clientMasterPermanentProvince');
    });

    $('#clientMasterTemporaryMunicipality').on("change", function () {
        var municipalityId = $(this).val();
        loadDistrictAndProvinceByMunicipality(municipalityId, 'clientMasterTemporaryDistrict', 'clientMasterTemporaryProvince');
    });

    // Helper for cascading load (if not already global) -- Assuming loadDistrictAndProvinceByMunicipality exists globally or adapting
    function loadDistrictAndProvinceByMunicipality(municipalityId, districtIdInfo, provinceIdInfo) {
        // Implementation depends on global helper, but usually:
        // $.ajax(...) and then set values. 
        // Reuse existing if available. 
        // If the original create page had it, we should ensure consistency. 
        // The create page had `loadDistrictAndProvinceByMunicipality(municipalityId)` which seemed to hardcode IDs.
        // We might need to make it more flexible or duplicate logic if it's too rigid.
    }


    function clientMasterDataById(clientId) {
        $.ajax({
            url: "/master/clientMaster/" + clientId + "/findById",
            type: "GET",
            success: function (response) {
                if (response.datas) {
                    var data = response.datas;

                    // Personal Info
                    $('#clientMasterFirstName').val(data.clientMasterFirstName);
                    $('#clientMasterMiddleName').val(data.clientMasterMiddleName);
                    $('#clientMasterLastName').val(data.clientMasterLastName);
                    $('#clientMasterValueDate').val(data.clientMasterValueDate); // formatting?
                    $('#clientMasterDateOfBirth').val(data.clientMasterDateOfBirth);

                    $('#clientMasterSalutation').val(data.clientMasterSalutation).trigger('change');
                    $('#clientMasterNationality').val(data.clientMasterNationality).trigger('change');
                    $('#clientMasterGender').val(data.clientMasterGender).trigger('change');

                    $('#clientMasterMobileNumber').val(data.clientMasterMobileNumber);
                    $('#clientMasterContactNumber').val(data.clientMasterContactNumber);
                    $('#clientMasterCitizenshipNumber').val(data.clientMasterCitizenshipNumber);
                    $('#clientMasterCitizenshipIssuedDistrict').val(data.clientMasterCitizenshipIssuedDistrict).trigger('change');
                    $('#clientMasterCitizenshipIssuedDate').val(data.clientMasterCitizenshipIssuedDate);

                    $('#clientMasterEducation').val(data.clientMasterEducation); // Search modal field
                    $('#clientMasterIdentityType').val(data.clientMasterIdentityType); // Search modal field
                    $('#clientMasterIdentityIssuedDistrict').val(data.clientMasterIdentityIssuedDistrict).trigger('change');
                    $('#clientMasterIdentityIssuedDate').val(data.clientMasterIdentityIssuedDate);
                    $('#clientMasterClientNature').val(data.clientMasterClientNature); // Search modal field

                    // Address Info - Permanent
                    $('#clientMasterPermanentMunicipality').val(data.clientMasterPermanentMunicipality).trigger('change');
                    // The trigger change on municipality might auto-load district/province, 
                    // but we also want to set the saved values. 
                    // We might need to wait for cascade or just set them directly if options allow.
                    // Since we pre-loaded all districts/provinces in $.when, we can just set them.
                    $('#clientMasterPermanentDistrict').val(data.clientMasterPermanentDistrict).trigger('change');
                    $('#clientMasterPermanentProvince').val(data.clientMasterPermanentProvince).trigger('change');
                    $('#clientMasterPermanentWardNo').val(data.clientMasterPermanentWardNo);
                    $('#clientMasterPermanentStreet').val(data.clientMasterPermanentStreet);

                    $('#clientMasterIsTemporaryAddressSameAsPermanentAddress').prop('checked', data.clientMasterIsTemporaryAddressSameAsPermanentAddress);

                    // Address Info - Temporary
                    $('#clientMasterTemporaryMunicipality').val(data.clientMasterTemporaryMunicipality).trigger('change');
                    $('#clientMasterTemporaryDistrict').val(data.clientMasterTemporaryDistrict).trigger('change');
                    $('#clientMasterTemporaryProvince').val(data.clientMasterTemporaryProvince).trigger('change'); // Note: ID in HTML might be wrong?
                    $('#clientMasterTemporaryWardNo').val(data.clientMasterTemporaryWardNo);
                    $('#clientMasterTemporaryStreet').val(data.clientMasterTemporaryStreet);

                    // Business Info
                    $('#clientMasterBusinessName').val(data.clientMasterBusinessName);
                    $('#clientMasterOrganization').val(data.clientMasterOrganization);
                    $('#clientMasterCompanyRegistrationDate').val(data.clientMasterCompanyRegistrationDate);
                    $('#clientMasterCompanyRegistrationNumber').val(data.clientMasterCompanyRegistrationNumber);
                    $('#clientMasterPanNumber').val(data.clientMasterPanNumber);
                    $('#clientMasterVatNumber').val(data.clientMasterVatNumber);
                    $('#clientMasterCompanyRegistrationAuthority').val(data.clientMasterCompanyRegistrationAuthority).trigger('change');

                }
            },
            error: function (err) {
                console.error("Failed to fetch client data", err);
                alert("Error fetching client data.");
            }
        });
    }

    // Search Modal Handlers (Copied from Create)
    $('#clientMasterEducation').on("keydown", function (e) {
        if (e.keyCode == 32) {
            loadGeneralSearchModalData('clientMasterEducation', '/tools/clientType/lists', 'education', 'Education')
        }
    });

    $('#clientMasterClientNature').on("keydown", function (e) {
        if (e.keyCode == 32) {
            loadGeneralSearchModalData('clientMasterClientNature', '/tools/clientType/lists', 'clientNature', 'Client Nature')
        }
    });

    $('#clientMasterIdentityType').on("keydown", function (e) {
        if (e.keyCode == 32) {
            loadGeneralSearchModalData('clientMasterIdentityType', '/tools/clientType/lists', 'documentType', 'Document Type')
        }
    });

</script>
{% endblock %}