<form id="inquiryFollowUpForm">
    <div class="row">
        <table class="table table-bordered border-collapse border w-full" id="inquiryFollowUpTable">
    <thead class="bg-gray-100">
        <tr>
            <th>Customer Name</th>
            <th>Mobile Number</th>
            <th>Permanent Address</th>
            <th>Loan Type</th>
            <th>Loan Amount</th>
            <th>Follow Up</th>
            <th>Remarks</th>
            <th>Revert Remarks</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

    </div>
</form>