<div class="row mt-3">
 <div class="col-md-2">
   <label for="provinceRadio">Province</label>
   <input type="radio" name="radioButton" id="provinceRadio">
 </div>
 <div class="col-md-2">
  <label for="districtRadio">District</label>
   <input type="radio" name="radioButton" id="districtRadio">
 </div>
 <div class="col-md-2">
  <label for="vdcMunicipalityRadio">VDC/Municipality</label>
   <input type="radio" name="radioButton" id="vdcMunicipalityRadio">
 </div>
</div>


{% include 'master/settings.html' %}
