{% extends 'home/base.html' %}


{% load static %}
{% block content %}
{% include 'loan_application/loan_application.html' %}

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script src="{%static 'js/customScript/customScript.js' %}"></script>

<script>
  $('.next-tab').on("click", function(){
     let current = $('.nav-tabs .nav-link.active');
     let next = current.parent().next().find('.nav-link');
     next.tab('show');
  })

  $('.prev-tab').on("click", function(){
     let current = $('.nav-tabs .nav-link.active');
     let previous = current.parent().prev().find('.nav-link');
     previous.tab('show');
  })
</script>

{% endblock %}